{erl_opts, [debug_info]}.
{deps, [
    {amqp_client, "3.12.14"},
    {rabbit_common, "3.13.7"}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [tamqp]}
]}.

{format, [
    {files, ["src/*.erl", "src/*.hrl", "config/*.config", "*.config"]},
    {formatter, erlfmt_formatter}
    % {options, #{ ribbon => 120,
    %              paper => 120,
    %  inline_attributes => none,
    %  inline_fields => none,
    %  inline_clause_bodies => false,
    %  inline_simple_funs => false,
    %  inline_items => {when_under, 5} }}
]}.
{xref_checks, [undefined_function_calls, undefined_module]}.

{plugins, [
    rebar3_ex_doc,
    erlfmt,
    rebar3_format
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}}
    ]},
    {main, "README.md"}
]}.
